html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
   
    font-size: 18px;
    background: #fff;


    display: flex;
    justify-content: center;
    align-items: center;
}

.slider_first_image{
    
    position: relative;
}
.slider_first_text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%);
    z-index: 1;
}
.slider_first_text h1{
    font-size: 40px;
}
.slider_first_text button{
    padding:10px 30px;
    background-color: #000;
    color: white;
}



.slider_second_image{
    
    position: relative;
}
.slider_second_text{
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%);
    z-index: 1;
}
.slider_second_text h1{
    font-size: 40px;
}
.slider_second_text button{
    padding:10px 30px;
    background-color: #000;
    color: white;
}






.slider_third_image{
    
    position: relative;
}
.slider_third_text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%);
    z-index: 1;
}
.slider_third_text h1{
    font-size: 40px;
}
.slider_third_text button{
    padding:10px 30px;
    background-color: #000;
    color: white;
}
